[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
